<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omniprojecttochaya">

    <application
        android:name=".omniclass.OmniClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".listview.ListViewExampleActivity"></activity>
        <activity android:name=".fragment.StaticFragmentsActivity"></activity>
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".activitylifecycle.SecondActivity" />
        <activity android:name=".activitylifecycle.OneActivity" />
        <activity android:name=".implicitintent.ImplicitIntent" />
        <activity android:name=".explicitintent.FirstActivity" />
        <activity android:name=".dynamicfragments.DynamicFragmntsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".jsonparser.JSonActivity" />
        <activity android:name=".recyclerview.RecyclerViewExample" />
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>